<footer class = "footer container bottom" style = "padding: 20px 0;">
	<o>Created by Danny. Visit my <a href = "http://github.com/dannyongtey">github</a> and star my project <3</p>
	Anything, please contact me at dannyongtey@gmail.com
</footer>